# macOS
.DS_Store

# Xcode
*.xcuserdatad/
*.xcuserdata/
*.xcworkspace/
*.xcodeproj/project.xcworkspace/
*.xcdebugger/

# Firebase
GoogleService-Info.plist
Info.plist

# Build Files
build/
DerivedData/
